.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img {
    animation: spin 1s;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(100px);
    }
    66% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}

#bear:active{
    animation: move 2s;
}
  
@keyframes disappear {
    0% {
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

#elephant:active {
    animation: disappear 3s;
}

@keyframes dance {
    0% {
        transform: rotate(0deg) translateY(10px);
    }
    33% {
        transform: rotate(15deg)translateY(0px);
    }
    66% {
        transform: rotate(-15deg) translateY(-10px);
    }
    100% {
        transform: rotate(0deg) translateY(10px);
    }
}

#giraffe:active
